
html, body {
    padding:0; 
    margin:0; 
    height:100%;
    background-color: #d9d9d9;
}

body {
    font-family: "PT Serif", "Ms Madi";
}

header {
    background-color: #0F261E;
    color: #d9d9d9;
    padding: 1px;
    text-align: center;
}

h1 {
    font-weight: 400;
    font-size: 48px;
}

h2 {
    padding: 10px;
    padding-left: 40px;
}

#navbar {
    overflow: hidden;
    background-color: #22594F;
}

#navbar a {
    float: left;
    display: block;
    color: #d9d9d9;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 24px;
}

#navbar a:hover {
    background-color: #485059;
    color: #d9d9d9;
    
}

#header-photo img {
    background-color: #0F261E;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

#figure-container {
    max-width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#figure-container figcaption {
    text-align: center;
    font-weight: 600;
}

.myImage {
    border: 2px solid #0F261E;
}

#bio-container {
    background-color: #d9d9d9;
}

#bio-container div {
    padding-left: 40px;
    padding-right: 40px;
}

#bio-container div p {
    text-indent: 40px;
}

#bio-portrait {
    float: right;
    height: 20%;
    width: 20%;
    padding: 20px;
}

#hobby-container {
    max-width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-weight: 600;
}

a {
    color: #0F261E;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: #22594F;
}

footer {
    background-color: #0F261E;
    position: absolute;
    width: 100%;
}

footer p {
    color: #d9d9d9;
    font-weight: 400;
    float: right;
    padding-right: 10px;
    font-style: italic;
    font-size: .75em;
}

footer a {
    text-decoration: none;
    color: #d9d9d9;
}

footer a:hover {
    text-decoration: underline;
}

.footer-fixed {
    position: fixed;
    bottom: 0;
}
